# Importing Files

A **file type** tells you how data is saved. Different file types specialize in saving data in certain ways. A great example is docx vs xlsx files. docx files are excellent at displaying large portions of text and images in a horizontal or vertical format. xlsx files are excellent at saving large portions of data in neat rows and columns so that you can perform functions on specific portions of the data. 

For Python to read a particular file type, you will need specialized functions that extract the information in ways we understand. This is a great example of where libraries can be incredibly useful! Here is a list of file types and the associated library you would want to install to work with the files. *run "pip install ____" in a terminal or command prompt to install the file

- **.docx**: python-docx
- **.csv**: pandas
- **.xlsx**: pandas
- **.pdf**: pymupdf

In our course, we will focus solely on csv and xlsx files as these are the most common Data Science file types you will need to manipulate.

# Import xlsx using pandas

Let's get some government data to learn how to use pandas. 

1. From https://www.bls.gov/oes/tables.htm, download the most recent "All data" XLSX file. This will download a zip file to your Downloads folder. 
2. Unzip the folder. 
3. Move the file named "all_data_M_20XX.xlsx" (XX will be the last two digits of the year you chose) to the folder where you run your jupyter notebooks.

In [1]:
import pandas as pd

# Use this if you are following along with your own example data
# Be sure to change the name of the file
# If it still can't find the file, be sure your file path is correct
#dataframe = pd.read_excel("all_data_M_20XX.xlsx")

# For this example, I downloaded May 2022 data
# This will take 1-2 minutes as there are 400,000+ rows of data!
dataframe = pd.read_excel("../Datasets/all_data_M_2022.xlsx")
# If you get ModuleNotFoundError, run 'pip install openpyxl'

In [2]:
# .head() prints the first 5 rows of the dataframe
# .head(n) prints the first n rows of the dataframe
# Very useful for reading the column names and seeing the first few rows
dataframe.head(10)

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,22.26,35.32,53.03,27340,33330,46310,73460,110290,NaN,NaN
1,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,51.62,78.71,106.03,50290,75350,107360,163710,220550,NaN,NaN
2,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,48.02,76.96,#,43440,62520,99890,160070,#,NaN,NaN
3,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,91.12,#,#,74920,122480,189520,#,#,NaN,NaN
4,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,91.12,#,#,74920,122480,189520,#,#,NaN,NaN
5,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1020,General and Operations Managers,...,47.16,74.31,106.38,43470,62070,98100,154560,221270,NaN,NaN
6,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,47.16,74.31,106.38,43470,62070,98100,154560,221270,NaN,NaN
7,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1030,Legislators,...,*,*,*,20970,28690,48090,94030,149710,True,NaN
8,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1031,Legislators,...,*,*,*,20970,28690,48090,94030,149710,True,NaN
9,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-2000,"Advertising, Marketing, Promotions, Public Rel...",...,63.86,88.5,#,64890,95100,132820,184080,#,NaN,NaN

### Some notes:
**columns** are bolded across the top. Be sure to find descriptions of each column name when you download databases. For example, you can find the description of all OCC_CODE and OCC_TITLE here: https://www.bls.gov/oes/current/oes_stru.htm

**NaN** means Not a Number. This commonly happens when the cell is left blank in an xlsx document. 

The size of the dataframe is in the bottom-left corner. Since we only printed the head, it is showing 5 rows. Try removing the .head() and see how many rows the actual dataframe has.